<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{{ title }} - My Site{% endblock %}</title>
    {% block head %}{% endblock %}

    <script src="//unpkg.com/alpinejs" defer></script>
    <script
      src="https://unpkg.com/htmx.org@1.9.6"
      integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni"
      crossorigin="anonymous"
    ></script>
    <!-- You should ideally link to your Tailwind CSS compiled file, but for simplicity, I'll use the CDN for now. -->
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <style>
      .htmx-indicator {
        opacity: 0;
        transition: opacity 500ms ease-in;
        display: none;
      }
      .htmx-request .htmx-indicator {
        display: block;
      }
      .htmx-request.htmx-indicator {
        display: block;
      }

      .htmx-request .hide-during-request {
        display: none;
      }
    </style>
  </head>
  <body class="bg-gray-200 flex items-center justify-center">
    <div
      id="content"
      class="bg-white p-8 rounded-xl shadow-md max-w-lg text-center"
    >
      {% block content %}
      <p class="text-xl font-semibold text-gray-800">Placeholder content</p>
      {% endblock %}
    </div>
  </body>
</html>
